.main{
  border: solid 1px red;
  transform: rotate(90deg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-top: -20%;
  margin-left: 20%;
  padding: 0;
  width: 34%;
  height: 260%;
  overflow-y: scroll;
}
.main::-webkit-scrollbar{
  display: none;
}