.main{
  display: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin-left: 10%;
  overflow-x: visible;
  border: solid 1px red;
}