.main{
  display: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 83%;
  margin-top: 4%;
  margin-left: 12%;
  overflow-x: scroll;
}
::-webkit-scrollbar{
  display: none;
}
.image{
  margin-left: 1%;
}